
<% action_url = (action == :new) ? cats_url : cat_url(cat) %>

<form action= "<%= action_url %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="patch"/>
  <% end %>

  <label for= "cat_name">Name</label>
  <br>
  <input type="text" name="cat[name]" id="cat_name" <%= "value= #{@cat.name}" %>>
  <br>
  <label for="cat_sex">Sex</label>
  <br>
  <input type="radio" name="cat[sex]"
    id="cat_sex_male" id = "cat_sex" value= "M" <%= "checked" if @cat.sex == 'M' %> >
    <label for="cat_sex_male"> Male</label>
    <br>
  <input type="radio" name="cat[sex]" id = "cat_sex_female"
    id = "cat_sex" value= "F" <%= "checked" if @cat.sex == 'F' %>>
    <label for="cat_sex_female">Female</label>
    <br>
  <label for="cat_color">Color</label>
  <br>
  <select name="cat[color]" id="cat_color">
    <option value="brown"  <%= "selected" if @cat.color == 'brown' %>>Brown</option>
    <option value="black"  <%= "selected" if @cat.color == 'black' %>>Black</option>
    <option value="blue"  <%= "selected" if @cat.color == 'blue' %> >Blue</option>
    <option value="white"  <%= "selected" if @cat.color == 'white' %>>White</option>
    <option value="grey"  <%= "selected" if @cat.color == 'grey' %>>Grey</option>
    <option value="blank" disabled='disabled'></option>
  </select>
  <br>
  <label for="cat_birth_date">Birth Date</label>
  <input type="date" name="cat[birth_date]" id='cat_birth_date' value= <%= @cat.birth_date %>>
  <br>
  <label for="cat_description">Description</label>
  <textarea name="cat[description]" id='cat_description'> <%= @cat.description %> </textarea>
  <br>
  <input type = "submit" value="Build my cat!">

</form>
