
<table>
  <% @attributes.each do |attribute, value| %>
    <tr><td><%= attribute %></td><td><%= value %></td></tr>
  <% end %>

</table>

<table>
  <th>
    request
  </th>
  <th>
    start_date
  </th>
  <th>
    end_date
  </th>
  <% @requests.each do |request| %>
    <tr><td><%= request.id %></td><td><%= request.start_date %></td><td> <%= request.end_date%> </td></tr>
  <% end %>

</table>
